<div class="codepen-embed">
  {{#if options.iframe}}
  <iframe height="{{getValue options.height "265"}}" style="width: 100%;" scrolling="no" title="" src="//{{ frameUrl }}"
    frameborder="no" allowtransparency="true" allowfullscreen="true"></iframe>
  {{else}}
  <p class="codepen" data-height="{{getValue options.height "265"}}" data-theme-id="{{getValue options.theme "0"}}"
    data-default-tab="{{ tabs }}" data-user="{{ penUser }}" data-slug-hash="{{ id }}"
    data-preview="{{getValue options.preview "true"}}"
    style="height: {{getValue options.height "265"}}px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="">
  </p>
  {{/if}}
</div>